.panel-viewer {
    padding: 10px;
    margin: 10px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 0px 0px rgba(0, 0, 0, 1), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.panel-header,
.mat-expansion-panel-header.mat-expanded:focus {
    justify-content: space-between;
    background-color: darkblue;
    color: white;
}

mat-panel-title,
mat-panel-description {
    background-color: inherit;
    color: inherit;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]) {
    background-color: darkblue;
    color: white;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);

    mat-panel-description {
        color: rgba(0, 0, 0, 0.54);
    }
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);
}

.action-row {
    padding: 10px;
}

.form-class {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-text-area {
    width: 100%;
    height: auto;
    padding-top: 8px;
}

mat-form-field {
    width: 20em;
}

button.mat-button:not(:disabled) {
    background-color: darkblue;
    color: white;
}

.contact-details {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin-top: 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 139, 1);
    color: white;
}

.contact-details-header {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 16px;
}

.contact-title {
    font-size: 14px;
    font-weight: 500;
    flex-grow: 0.01;
}

.contact-details-content {
    padding: 0 16px 16px;
}

.contact-details-content-data{
    background-color: rgba(225, 225, 225, 0.5);
    color: white;
    border-radius: 5px;
    padding: 8px;
    
    p {
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    mat-panel-description {
        display: none;
    }

    .contact-title {
        flex-grow: 0.4;
    }
}