<div class="panel-viewer">
    <mat-accordion>
        <mat-expansion-panel expanded='true'>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title>
                    Complaint/Query
                </mat-panel-title>
                <mat-panel-description>
                    Provide your complaint or query details below
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form [formGroup]="queryForm" class="form-class">
                    <mat-form-field>
                        <input matInput type="text" formControlName="fullname" placeholder="Full Name" required>
                        <mat-error *ngFor="let validation of errorMessages.fullname">
                            <mat-error
                                *ngIf="queryForm.get('fullname').hasError(validation.type) && (queryForm.get('fullname').dirty || queryForm.get('fullname').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email ID" required>
                        <mat-error *ngFor="let validation of errorMessages.email">
                            <mat-error
                                *ngIf="queryForm.get('email').hasError(validation.type) && (queryForm.get('email').dirty || queryForm.get('email').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="tel" formControlName="phone" placeholder="Mobile No." required>
                        <mat-error *ngFor="let validation of errorMessages.phone">
                            <mat-error
                                *ngIf="queryForm.get('phone').hasError(validation.type) && (queryForm.get('phone').dirty || queryForm.get('phone').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select Category</mat-label>
                        <select matNativeControl formControlName="category" required>
                            <option value="query">Query</option>
                            <option value="complaint">Complaint</option>
                        </select>
                        <mat-error *ngFor="let validation of errorMessages.category">
                            <mat-error
                                *ngIf="queryForm.get('category').hasError(validation.type) && (queryForm.get('category').dirty || queryForm.get('category').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-text-area">
                        <mat-label>More details</mat-label>
                        <textarea matInput rows="6" formControlName="details" placeholder="Provide more details here..."
                            required></textarea>
                        <mat-error *ngFor="let validation of errorMessages.details">
                            <mat-error
                                *ngIf="queryForm.get('details').hasError(validation.type) && (queryForm.get('details').dirty || queryForm.get('details').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </form>
            </ng-template>
            <mat-action-row class="action-row">
                <button mat-button type="submit" [disabled]="!queryForm.valid" (click)="query(queryForm.value)"
                    class="submit-button">Submit</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title>
                    Feedback
                </mat-panel-title>
                <mat-panel-description>
                    Help us to improve by leaving your valuable feedback below
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form [formGroup]="feedbackForm" class="form-class">
                    <mat-form-field>
                        <input matInput type="text" formControlName="fullname" placeholder="Full Name" required>
                        <mat-error *ngFor="let validation of errorMessages.fullname">
                            <mat-error
                                *ngIf="feedbackForm.get('fullname').hasError(validation.type) && (feedbackForm.get('fullname').dirty || feedbackForm.get('fullname').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email ID" required>
                        <mat-error *ngFor="let validation of errorMessages.email">
                            <mat-error
                                *ngIf="feedbackForm.get('email').hasError(validation.type) && (feedbackForm.get('email').dirty || feedbackForm.get('email').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="tel" formControlName="phone" placeholder="Mobile No." required>
                        <mat-error *ngFor="let validation of errorMessages.phone">
                            <mat-error
                                *ngIf="feedbackForm.get('phone').hasError(validation.type) && (feedbackForm.get('phone').dirty || feedbackForm.get('phone').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-text-area">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput rows="6" formControlName="details" placeholder="Provide more details here..."
                            required></textarea>
                        <mat-error *ngFor="let validation of errorMessages.details">
                            <mat-error
                                *ngIf="feedbackForm.get('details').hasError(validation.type) && (feedbackForm.get('details').dirty || feedbackForm.get('details').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </form>
            </ng-template>
            <mat-action-row class="action-row">
                <button mat-button type="submit" [disabled]="!feedbackForm.valid" (click)="feedback(feedbackForm.value)"
                    class="submit-button">Submit</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="contact-details">
        <div class="contact-details-header">
            <div class="contact-title">
                Contact Details
            </div>
            <mat-chip-list>
                <mat-chip color="primary" selected>Recommended</mat-chip>
            </mat-chip-list>
        </div>
        <div class="contact-details-content">
            <div class="contact-details-content-data">
                <p>Connect over phone : 1234567890</p>
                <p>Connect over mail : abcdd@gmail.com</p>
            </div>
        </div>
    </div>
</div>