:host {
    background: white;
    flex-grow: 1;
}

.recent-activities {
    margin: 40px 40px 15px 40px;
    display: block;
    position: relative;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.5), 2px 4px 5px 6px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.rec-activities-header {
    background: darkblue;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    color: white;
}

.rec-activities-tabs {
    padding: 24px;
}

.mat-tab-link {
    opacity: 1;
}

@media screen and (max-width:700px) {

    .recent-activities {
        margin: 16px;
    }

    .rec-activities-tabs {
        padding: 12px;
    }
}