.donation-main {
    margin: 40px 40px 20px 40px;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.5), 2px 4px 5px 6px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: block;
    position: relative;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}

.donation-header {
    background: darkblue;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    color: white;
}

.donation-content {
    padding: 24px;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.mandatory-feild {
    color: red;
}

.form-padding {
    padding-top: 16px;
}

.data-form {
    display: flex;
    flex-flow: column;
}

.name-content {
    display: flex;
    flex-flow: row wrap;

    mat-form-field:nth-child(1) {
        max-width: 8em;
        padding-right: 20px;
    }

    mat-form-field:nth-child(2) {
        flex-grow: 1;
    }
}

.details-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & mat-form-field {
        width: 20em;
    }
}

.pand-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & mat-form-field {
        width: 20em;
    }
}

.option-display {
    display: none;
}

fieldset {
    border-color: blue;
    border-radius: 4px;
}

.form-text-area {
    flex-grow: 1;
    height: auto;
    //padding-top: 8px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 0px 0px rgba(0, 0, 0, 1), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.panel-header,
.mat-expansion-panel-header.mat-expanded:focus {
    justify-content: space-between;
    background-color: darkblue;
    color: white;
}

mat-panel-title,
mat-panel-description {
    background-color: inherit;
    color: inherit;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]) {
    background-color: darkblue;
    color: white;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);

    mat-panel-description {
        color: rgba(0, 0, 0, 0.54);
    }
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);
}

.action-row {
    padding: 10px;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .donation-main {
        margin: 16px;
    }

    .donation-content {
        padding: 16px;
    }

    mat-panel-description {
        display: none;
    }

    .name-content mat-form-field:nth-child(1) {
        flex-grow: 0.5;
    }
}