.profile-viewer {
    margin: 40px 40px 15px 40px;
    display: block;
    position: relative;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.5), 2px 4px 5px 6px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.profile-header {
    background: darkblue;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    color: white;
}

.form-padding {
    padding: 24px 48px;
}

.form-sub-padding {
    padding: 16px 0 0;
}

.data-form {
    display: flex;
    flex-flow: column;
}

.profile-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-details-subheader {
    display: flex;
    align-items: center;
}

.profile-short-details {
    display: inherit;
    flex-direction: column;
    margin-left: 30px;
}

.profile-short-details-mobile {
    display: none;
}

.profile-image-upload {
    display: flex;
    align-items: flex-end;

    & .file-button {
        margin-left: -35px;
        top: -18px;

        & img {
            height: 40px;
            width: 40px;
        }
    }
}

.profile-image {
    width: 145px;
    height: 145px;
    clip-path: circle(50% at 50% 50%);
}

.input-image {
    display: none;
}

.personal-details {
    display: flex;
    flex-direction: column;
}

.name-content {
    display: flex;
    flex-flow: row wrap;

    & mat-form-field {
        flex-grow: 0.5;
    }
}

.details-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    & mat-form-field {
        width: 20em;
    }
}

.details-content div {
    width: 20em;
}

.option-display {
    display: none;
}

.salutation {
    max-width: 8em;
    padding-right: 20px;
}

mat-checkbox {
    font-size: 14px;
    font-weight: 400;
}

.route {
    width: 40em;
}

.address-details {
    display: flex;
    flex-direction: column;
}

.address-subpart {
    display: flex;
    flex-flow: row wrap;

    mat-form-field {
        width: 20em;
    }
}

.right-padding {
    padding-right: 20px;
}

.buttons-group{
    display: flex;
    justify-content: space-evenly;
    
}

@media screen and (max-width:700px) {
    .profile-viewer {
        margin: 16px;
    }

    .form-padding {
        padding: 16px;
    }

    .profile-short-details {
        display: none;
    }

    .profile-short-details-mobile {
        display: flex;
        flex-direction: column;
    }

    .name-content mat-form-field:nth-child(2) {
        flex-grow: 1;
    }

    .route {
        width: auto;
    }

    .right-padding {
        padding-right: 0;
    }
}