<div class="profile-viewer">
    <div class="profile-header">Profile Details</div>
    <form [formGroup]="profileForm" class="form-padding data-form">
        <div class="profile-image-upload">
            <img [src]="image" class="profile-image">
            <button mat-icon-button (click)="fileInput.click()" disableRipple="true">
                <!-- <mat-icon (click)="tooltip.toggle()" #tooltip="matTooltip" matTooltip="Upload your Recent Photo"
                    matTooltipClass="tooltipInfo">photo_camera</mat-icon> -->
                <img class="camera" src="../../assets/img/camera.svg" matTooltip="Upload your Recent Photo"
                    matTooltipClass="tooltipInfo">
                <input #fileInput type="file" accept="image/*" (change)="onFileChange($event)" class="input-image">
            </button>
        </div>
        <!-- <mat-form-field>
        <input matInput type="text" formControlName="fullname" placeholder="Full Name" required>
        <mat-error *ngFor="let validation of errorMessages.fullname">
            <mat-error
                *ngIf="donorForm.get('personalDataForm').get('fullname').hasError(validation.type) && (donorForm.get('personalDataForm').get('fullname').dirty || donorForm.get('personalDataForm').get('fullname').touched)">
                {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field> -->
    </form>

</div>