:host {
    background: white;
    flex-grow: 1;
  }
  
  .grid-container {
    margin: 40px 40px 20px;
  }
  
  .dashboard-card {
    
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;

  }