<div class="grid-container">
    <a class="dashboard-card" routerLink="../profile">
        <div class="dashboard-card-header">
            Profile
        </div>
        <mat-divider></mat-divider>
        <div class="dashboard-card-content">
            <app-charts chartType="donut"></app-charts>
        </div>
    </a>

    <a class="dashboard-card" routerLink="../profile">
        <div class="dashboard-card-header">
            Profile
        </div>
        <mat-divider></mat-divider>
        <div class="dashboard-card-content">
            <app-charts chartType="donut"></app-charts>
        </div>
    </a>

    <a class="dashboard-card" routerLink="../profile">
        <div class="dashboard-card-header">
            Profile
        </div>
        <mat-divider></mat-divider>
        <div class="dashboard-card-content">
            <app-charts chartType="donut"></app-charts>
        </div>
    </a>
</div>