.form-mat-class {
    width: 100%;
    margin-bottom: 5px;
}

.icons-div{
    justify-content: space-between;
    display: flex;
}

.icons{
    font-size: 14px;
    height: 14px;
    padding: 0 2px;
    cursor: pointer;
}

.resend-otp {
    color: blue;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

.submit-button {
    background-color: blue;
    color: white;
    font-size: larger;
    width: 100%;
}

.login-div {
    margin-top: 16px;
}

a.login {
    font-size: larger;
    text-decoration: none;
    color: blue;
}